{% extends 'basic.html' %}
{% load static %}

{% block title %} Login Page {% endblock %}
{% block login %} active {% endblock %}

{% block css %}
{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
  <div class="col-sm-3">

  </div>
  <div class="col-sm-6 vertical-center">
    <div class="text-center">
      <img class="w-50" src="{% static 'images/logo.jpg' %}"/>
    </div>
    <div>
      <form action="/login/" method="POST"> {% csrf_token %}
        <div class="container mt-5">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
      <div class="text-center">
        <button  type="submit" class="btn btn-primary d-block mx-auto">Login</button>
      </div>
      
    </div>
    </form>
  </div>
  </div>
  <div class="col-sm-3">

</div>
</div>
</div>

{% endblock %}