{% extends 'basic.html' %}
{% load static %}

{% block title %} Login Page {% endblock %}
{% block login %} active {% endblock %}

{% block css %}
{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
  <div class="col-sm-3">

  </div>
  <div class="col-sm-6 vertical-center">
    <div class="text-center">
      <img class="" src="{% static 'images/logo.jpg' %}"/>
      <h2>METROPOLITAN INTERNATIONAL UNIVERSITY</h2>
        <h4>ONLINE APPLICATION PORTAL</h4>
    </div>
    <div class="card">
      <div class="card-body">
        <form action="/login/" method="POST"> {% csrf_token %}
          <div class="container mt-5">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
        <div class="text-center">
          <button  type="submit" class="btn btn-secondary d-block mx-auto">Login</button>
        </div>
      </div>
      </form>
      </div>
    </div>
    <div class="row">

      <div class="col">
    
        <a class="" href="/register/"><i class="fa fa-cash-register"></i> How to Apply</a>    
    
      </div>
    
      <div class="col">  
        <a class="nav-link {% block register %} {% endblock %}" href="/register/"><i class="fa fa-cash-register"></i> Register</a>    
      </div>
    
    </div>
  </div>
  <div class="col-sm-3">

</div>
</div>
</div>
{% endblock %}